<div *ngIf="nodes.length === 0">Loading nodes...</div>

<mat-table [dataSource]="nodes" *ngIf="nodes.length > 0">

  <!-- Node Column -->
  <ng-container matColumnDef="node">
    <mat-header-cell *matHeaderCellDef> Node </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{ node.node }} </mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{ node.status }} </mat-cell>
  </ng-container>

  <!-- Max CPU Column -->
  <ng-container matColumnDef="maxcpu">
    <mat-header-cell *matHeaderCellDef> Max CPU </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{ node.maxcpu }} </mat-cell>
  </ng-container>

  <!-- Memory Column -->
  <ng-container matColumnDef="mem">
    <mat-header-cell *matHeaderCellDef> Memory </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{ node.mem / 1073741824 | number }} </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
