table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.loading-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 60px); /* Adjust based on your layout */
 }

