<mat-form-field>
  <input matInput placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange($event)">
</mat-form-field>

<mat-table [dataSource]="filteredList" #table>
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></mat-row>
</mat-table>
